@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #0b1c2d;
    color: #e8dcc4;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #0b1c2d;
    border: 2px solid #c9a24d;
    border-radius: 10px;
}

/* Logo */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 400px;
    height: auto;
}

h1 {
    text-align: center;
    color: #c9a24d;
}

/* Bloc question */
.question-block {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8dcc4;
}

/* Ligne */
.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Question */
.question-title {
    color: #c9a24d;
    margin: 0;
}

/* Bouton indice */
.indice-btn {
    background-color: #e8dcc4;
    color: #0b1c2d;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

/* Inputs */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #e8dcc4;
    background-color: #e8dcc4;
    color: #0b1c2d;
}

/* Submit */
button[type="submit"] {
    background-color: #c9a24d;
    color: #0b1c2d;
    border: none;
    padding: 14px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

/* Indice */
.indice {
    margin-top: 10px;
    padding: 10px;
    background-color: #e8dcc4;
    color: #0b1c2d;
    border-radius: 5px;
    display: none;
}